<%- include('../partials/header'); %>
    <main class="main container-fluid text-center">
        <h1><%= data[0].title %></h1>
        <img src="<%= data[7].image %>" alt="<%= data[0].title %>">
    </main>

<%- include('../partials/footer'); %>